<div class="login-form-container">
  <form class="login-form" ng>
    <img src="assets\img\Stax_white.png">
    <div style="text-align:center">Business Intelligence</div>
    <br/>
    <br/>
    <div>Username</div>
    <input type="text" [(ngModel)]="username" placeholder="Username" name="username">
    <br/>
    <div>Password</div>
    <input type="password" [(ngModel)]="password" placeholder="Password" name="password">
    <br/>
    <button type="submit" class="button" (click)="login()">Login</button>
  </form>
</div>

<div class="message" *ngIf="Message">{{Message}}</div>
