<div class="key-figures">
  <div class="key-figure">
    <div class="gauge"></div>
    <div class="fig">
      <div>Revenue</div>
      <div>$575,470</div>
    </div>
    <div class="icon">
        <i class="fas fa-dollar-sign"></i>
    </div>
  </div>
  <div class="key-figure">
      <div class="gauge"></div>
      <div class="fig">
        <div>Jobs</div>
        <div>254</div>
      </div>
      <div class="icon">
          <i class="fas fa-briefcase"></i>
      </div>
  </div>
  <div class="key-figure">
      <div class="gauge"></div>
      <div class="fig">
        <div>Gross Profit</div>
        <div>$70,547</div>
      </div>
      <div class="icon">
          <i class="fas fa-chart-line"></i>
      </div>
  </div>
  <div class="key-figure">
      <div class="gauge"></div>
      <div class="fig">
        <div>Staff</div>
        <div>47</div>
      </div>
      <div class="icon">
          <i class="fas fa-users"></i>
      </div>
  </div>
</div>

<div class="chart-area">
  <div class="chart-main">
    <app-chart-bar3d 
    [dataSource]="dataSource_main"
    [id]="main_id"
    [width]="main_width"
    [height]="main_height"
    [type]="main_type"
    ></app-chart-bar3d>
  </div>
  <div class="chart-sub">
    <app-chart-bar3d 
    [dataSource]="dataSource_sub" 
    [id]="sub_id"
    [width]="sub_width"
    [height]="sub_height"
    [type]="sub_type"
    ></app-chart-bar3d>
  </div>
</div>

<div class="chart-area">
  <div class="chart-main">
    <app-chart-bar3d 
    [dataSource]="dataSource_main2"
    [id]="main_id2"
    [width]="main_width2"
    [height]="main_height2"
    [type]="main_type2"
    ></app-chart-bar3d>
  </div>
  <div class="chart-sub">
    <app-chart-bar3d 
    [dataSource]="dataSource_sub2" 
    [id]="sub_id2"
    [width]="sub_width2"
    [height]="sub_height2"
    [type]="sub_type2"
    ></app-chart-bar3d>
  </div>
</div>