$space-color: #f0f3f4;

.key-figures {
  display: flex;
  justify-content: space-between;
  margin: 1%;
  flex-wrap: wrap;
}

.key-figure {
  width: 24%;
  min-width: 200px;
  background-color: white;
  border-radius: 5px;
  height: 100px;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  margin-bottom: 1%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.chart-area {
  display: flex;
  flex-wrap: wrap;
}

.chart-main {
  margin: 1%;
  width: 48%;
  background-color: white;
  border-radius: 5px;
  height: 500px;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  min-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center
}



.chart-sub {
  margin: 1%;
  width: 48%;
  background-color: white;
  border-radius: 5px;
  height: 500px;
  box-shadow: 2px 0 3px rgba(0,0,0,.5);
  min-width: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center
}

@media only screen and (max-width: 1200px) {
  .chart-main {
    margin: 1%;
    width: 98%;
    background-color: white;
    border-radius: 5px;
    height: 500px;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
    min-width: 400px;
  }
  
  .chart-sub {
    margin: 1%;
    width: 98%;
    background-color: white;
    border-radius: 5px;
    height: 500px;
    box-shadow: 2px 0 3px rgba(0,0,0,.5);
    min-width: 400px;
  }
}

@media only screen and (max-width: 1024px) {
  .key-figure {
    width: 48%;
  }
}

@media only screen and (max-width: 420px) {

  .key-figures {
    margin-left: 10%;
    flex-direction: column;
  }
  .key-figure {
    width: 100%;
    align-self: center
  }
}

.fig {
  font-weight: bolder;
  color: darken($color: $space-color, $amount: 20%);
  font-size: 30px;
  text-align: center;
}



.icon {
  font-size: 50px;
  font-weight: bolder;
  color: darken($color: $space-color, $amount: 20%);
}
