<div class="key-figures">
  <div class="key-figure">1</div>
  <div class="key-figure">2</div>
  <div class="key-figure">3</div>
  <div class="key-figure">4</div>
</div>

<div class="chart-area">
  <div class="chart-main">
    <app-chart-bar3d 
    [dataSource]="dataSource_main"
    [id]="main_id"
    [width]="main_width"
    [height]="main_height"
    [type]="main_type"
    ></app-chart-bar3d>
  </div>
  <div class="chart-sub">
    <app-chart-bar3d 
    [dataSource]="dataSource_sub" 
    [id]="sub_id"
    [width]="sub_width"
    [height]="sub_height"
    [type]="sub_type"
    ></app-chart-bar3d>
  </div>
</div>

<div class="chart-area">
  <div class="chart-main">
    <app-chart-bar3d 
    [dataSource]="dataSource_main2"
    [id]="main_id2"
    [width]="main_width2"
    [height]="main_height2"
    [type]="main_type2"
    ></app-chart-bar3d>
  </div>
  <div class="chart-sub">
    <app-chart-bar3d 
    [dataSource]="dataSource_sub2" 
    [id]="sub_id2"
    [width]="sub_width2"
    [height]="sub_height2"
    [type]="sub_type2"
    ></app-chart-bar3d>
  </div>
</div>