<div class="sidemenu">
  <div class="sidemenu-content">
    <div *ngFor="let item of menu_items">
      <div class="menu-item">
        <div>
            <fa [name]="item.icon"></fa>
          <a href="{{item.name}}">{{item.name}}</a>
        </div>
        <div *ngIf="item.sub_items" (click)="toggleSub()">
            <i class="fas fa-chevron-down"></i>
        </div>
      </div>
      <div *ngIf="item.sub_items && !sub_hidden">
        <div *ngFor="let sub_item of item.sub_items">
          <div class="menu-item sub">
            <div>
              <a href="{{sub_item.name}}">{{sub_item.name}}</a>
            </div>
            <div *ngIf="sub_item.deep" (click)="toggleDeep()">
              <i class="fas fa-chevron-down"></i>
            </div>
          </div>
          <div *ngIf="sub_item.deep && !deep_hidden">
              <div *ngFor="let deep of sub_item.deep">
                <div class="menu-item deep">
                  <div>
                    <a href="{{deep.name}}">{{deep.name}}</a>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
